.header,
.footer {
  width: 100vw;
  background: #ddd;
  height: 80px;
}

h2 {
  text-align: center;
}

.container {
  width: 70%;
  margin: auto;
}

/* .navbar > div {
  border: 1px solid red;
} */

.navbar {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.navbar-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-items > div {
  margin-left: 15px;
}

.navbar-items > div:hover {
  color: gray;
}

.bars {
  display: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
}

section {
  border: 1px solid blue;
  min-height: 300px;
}

section:not(:last-child) {
  margin-bottom: 25px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.projects > div {
  border: 1px solid red;
  /* overflow: auto; */
}

.projects > div img {
  width: 100%;
}

.project-5 {
  grid-column: 2/4;
}

.project-9 {
  grid-column: 1/4;
}

@media all and (max-width: 835px) {
  .container {
    width: 100%;
  }
  .navbar-items {
    display: none;
  }
  .bars {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
  }
}
