@use "./variables" as var;

// mixins
@mixin flex-column {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

@mixin flex-row  {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

@mixin color($bg-color) {
    height: 9rem;
    width: 15rem;
    background-color: $bg-color;
}

@mixin shade($bg-color) {
    height: 12rem;
    width: 5rem;
    background-color: $bg-color;
}

@mixin border {
    border-radius: 0 0 .5rem .5rem;
    border-bottom: 1px solid var.$border-color;
    border-right: 1px solid var.$border-color;
    border-left: 1px solid var.$border-color;
}
