// variables 
$color-one: #ffc83f;
$color-two: #fa5e5b;
$color-three: #1d508d;
$color-four: #684e79;
$border-color: rgb(197, 195, 195);
$font-color: rgba(0, 0, 0, 0.603);
$font-stack-primary: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$font-stack-secondary: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$percent: 10%;
