body {
  font-family: sans-serif;
  font-size: 1.6rem;
}

/* *************************** */

header h1 {
  text-align: center;
}
.main {
  width: 80vw;
  margin: auto;
}
.component {
  width: 100%;
  height: 20vh;
  border: 1px solid red;
  display: flex;
  margin-bottom: 20px;
}

.f-item {
  height: 25%;
  background-color: blue;
  margin-bottom: 3px;
  padding: 3px;
}

.d-flex-1 {
  /* flex-direction default value is: row */
  flex-direction: row;
}

.d-flex-2 {
  /* flex-direction default value is: row */
  flex-direction: row-reverse;
}

.d-flex-3 {
  /* flex-direction default value is: row */
  flex-direction: column;
}

.d-flex-4 {
  /* flex-direction default value is: row */
  flex-direction: column-reverse;
}

.d-flex-5 {
  /* flex-wrap default value is: nowrap */
  flex-wrap: nowrap;
}

.d-flex-6 {
  /* flex-wrap default value is: nowrap */
  flex-wrap: wrap;
}

/*flex-flow shorthand for the flex-direction and flex-wrap ==> EX: flex-flow: flex-direction flex-wrap; */

.d-flex-7 {
  /* justify-content default value is: flex-start  */
  justify-content: flex-start;
}

.d-flex-8 {
  /* justify-content default value is: flex-start  */
  justify-content: flex-end;
}

.d-flex-9 {
  /* justify-content default value is: flex-start  */
  justify-content: center;
}

.d-flex-10 {
  /* justify-content default value is: flex-start  */
  justify-content: space-between;
}

.d-flex-11 {
  /* align-items default value is: flex-start  */
  align-items: flex-start;
}

.d-flex-12 {
  /* align-items default value is: flex-start  */
  align-items: flex-end;
}
