@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.font_hachi {
  font-family: "Hachi Maru Pop", cursive;
}
