* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
}

/* *************************** */
.header {
  text-align: center;
}

.javascript,
.php,
.webDev,
.sysAdmin,
.experience,
.select {
  padding: 10px;
}
