* {
    margin: 0;
    padding: 0;
}

body {
    background: #4d2d06;
    font-family: Georgia, Times, serif;
    color: #fff;
    text-align: center;
    font-size: 50px;    
}

.primary-box {
    background: #222;
    color: #eee;
    font-size: 24px;
    margin: 0 0 10px;
    padding: 10px;
}

.secondary-box {
    background: #eee;
    color: #222;
    font-size: 24px;
    margin: 0 0 10px;    
    padding: 10px;
}

/* Descendant Selectors */

.primary-box h2 {
    font-family: Helvetica, Arial, sans-serif;
}

.primary-box p em {
    color: #32b0ff;
}

.secondary-box p {
    font-family: Arial, Helvetica, sans-serif;
}

.secondary-box p em {
    color: #fc3fff;
}