@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,700&display=swap");

:root {
  font-size: 62.5%;
}

body {
  background-color: whitesmoke;
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
  line-height: 130%;
}

/* transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay]; */

/* ---------- Header start ---------*/
.header {
  width: 100vw;
  min-height: 80px;
}
.navbar {
  height: 80px;
  background-color: white;
  border-bottom: 1px solid rgba(78, 75, 75, 0.26);
}
.small-devices {
  height: 100%;
  grid-template-columns: 1fr 2fr 1fr;
}
.menu {
  height: 100%;
  padding-left: 10px;
  align-items: center;
}

.logo {
  height: 100%;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}

.login {
  height: 100%;
  align-items: center;
  justify-content: center;
}

/* ---------- Header end ---------*/ ;
