/* * {
    background-color: gray;
} */

/* body {
    background: rgb(35, 32, 87);
    background: linear-gradient(
        295deg, 
        rgba(35, 32, 87, 1) 0%,
        rgba(34, 84, 214, 1) 49%,
        rgba(214, 70, 118, 1) 64%,
        rgba(50, 155, 216, 1) 85%,
        rgba(215, 158, 91, 1) 93%,
        rgba(208, 35, 215, 1) 100%,
        rgba(104, 102, 115, 0.59) 100%




    );

} */