
:root {
    font-size: 62.5%;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #efefef;
    color: #434344;
    font-weight: 400;    
}

a {
    font-size: 1.4rem;
    line-height: 130%;
    text-decoration: none;
}

.container {
    width: 80vw;
    margin: 0 auto;
    padding: 0 6rem;
    display: grid;
    grid-template-columns: 0.4fr 0.3fr 0.3fr;
    grid-template-areas: 
        "header header header"
        "hero main main"
        "aside main main"
        "aside extra extra"
        "image image post"
        "footer footer footer";
}

header {
    grid-area: header;
    text-transform: uppercase;
    color: rgb(110, 107, 107);
    border-bottom: 2px solid rgb(31, 163, 196);
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav li {
    margin-right: 1.5rem;
}

header button {
    border: none;
    padding: 0.8rem 2.5rem;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 1.2rem;
    background-color: lawngreen;
}

.hero {
    grid-area: hero;
    min-height: 30rem;
}

.hero img {
    width: 100%;
}

.sidebar {
    grid-area: aside;
    padding: 2rem;
    border-top: 3px solid rgb(215, 23, 233);
    background-color: #ece2e2;
}

.sidebar h3 {
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
    font-size: 1.7rem;
    line-height: 130%;
}

.sidebar ul li {
    padding: 0.3rem 0;
}

.main {
    grid-area: main;
}

.main h2 {
    font-size: 4rem;
    color: rgb(34, 199, 240);
    margin-bottom: 1rem;
}

.main p {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

.extra {
    grid-area: extra;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ececec;
}

.extra h3 {
    font-weight: 500;
    margin-bottom: 0.5rem;
    flex: 1 0 auto;
}

.extra p {
    margin-bottom: 0.8rem;
}


.extra button {
    background-color: #efefef;
    border: 2px solid rgb(24, 199, 240);
    border-radius: 4px;
    padding: 0.5rem;
    cursor: pointer;
}

.content-block-info {
    margin-bottom: 0.5rem;
}

.related-images {
    grid-area: image;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.related-images .icon img {
    width: 100%;
}

.related-posts h3 {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgb(224, 212, 212);
}

.related-posts ul {
    margin-left: 2rem;
}

footer {
    grid-area: footer;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    background-color: #746f6f;
}

footer p {
    font-size: 1.7rem;
}

