.d-grid > div {
  /* min-height: 100px; */
  background-color: #ddd;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-grid {
  margin-top: 20px;
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  /* grid-template-rows: repeat(5, 1fr); */
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.box-1 {
  /* justify-self: end; */
  /* justify-self: start; */
  /* justify-self: center; */
  grid-column: 1/3;
  grid-row: 1/4;
}

.box-2 {
  grid-row: 1/3;
}

.box-3 {
  grid-row: 3/5;
}

.box-4 {
}
.box-5 {
}

.box-6 {
}
