body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 2000px;
}

/* general styling  */
h1,
h2 {
  background-color: rgb(246, 120, 106);
  color: rgb(245, 240, 234);
  padding: 8px;
}

.shadow {
  width: 300px;
  height: 275px;
  margin: 0 auto;
  border: 1px solid rgb(48, 48, 48);
}
/* Basic Introduction */
.one {
  background-color: aqua;
  /* box-shadow: horizontal offset|vertical offset| blur radius|optional spread
    radius|color; */
  box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.5);
}

.two {
  background-color: rgb(163, 161, 161);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}

.three {
  background-color: #daa520;
  box-shadow: 2px 2px 8px red, 4px 4px 10px green, 8px 8px 8px blue,
    inset 4px 4px 8px rgba(0, 0, 0, 0.5), -5px -5px 10px rgb(163, 161, 161),
    inset -5px -5px 10px aqua;
}

/* ******************************** */
/* Well Component */

/* Multiple Shadows */
